nav {}

.header {
    padding: 50px 20px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;

    .header_title {
        font: {
            size: 1.4em;
        }

    }

    .header_menu {
        span {
            @include set-box(36px, 36px, 18px);
            display: inline-block;
            text-align: center;
            line-height: 36px;
            cursor: pointer;

            &:hover {
                background-color: $blackop;
            }
        }
    }
}